video/
*.DS_Store
utils/__pycache__/
Callibration/screen_shots/
Callibration/reprojection/
*.DS_Store
photos/
Callibration/__pycache__/
captures/
history_video_and_photos/
.idea
captures/output/
tracking_video/

localization/__pycache__/

.vscode/

capture/output/

callibration/debug_frames/

**pycache**
